body {
    background-color: black;
    color: white;
    font-family: 'Keania One', sans-serif;
    font-size: 20px;
    text-align: center;
}

.image {
    width: 98.7vw;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 5px;
    border-bottom: 2px solid rgb(202, 191, 191);
    border-top: 2px solid rgb(202, 191, 191);
    image-rendering: pixelated;
}

.modification-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
}

.modification-item img {
    max-height: 40%;
    width: auto;
    margin-bottom: 10px;
    object-fit: contain;
}

.description {
    font-size: 15px;
    font-family: 'Khand', sans-serif;
    overflow-y: auto;
    margin-bottom: 10px;
}

.estimated-price {
    font-size: 16px;
    font-weight: bold;
}

/* This styles the scrollbar track */
.description::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

/* This styles the scrollbar thumb (the part that you drag) */
.description::-webkit-scrollbar-thumb {
    background-color: #646464;
    border-radius: 10px;
}

/* This styles the scrollbar itself (optional) */
.description::-webkit-scrollbar {
    width: 8px;
}